body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(83, 42, 104);
}

header {
    color: white;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    box-shadow: 10px 10px 25px black;
}

select {
    width: 100%;
}

button:hover {
    background-color: rgb(255, 255, 255);
}


